@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

.link {
    left: 80%;
        top: 85%;
        padding: 10px;
        border-radius: 50%;
        background-color:$color-pink;
        border: 5px solid $color-red;
        cursor: pointer;
        position: fixed;
        z-index: 333;
    color: $color-red;
      animation-name: myAnimation;
      animation-duration: 5s;
      animation-timing-function:linear ;
            animation-iteration-count: infinite;
            
    @include media-tablet {
        left: 90%;
    }
}

.icon {
        
    width: 30px;
    height: 30px;
}

@keyframes myAnimation {
  from{
transform: scale(1.0);
color:$color-red;
background-color: $color-pink;
  } 
  50%{
transform: scale(1.1);
color: $color-white;
background-color: $color-red;
  }
  to{
transform: scale(1.0);
color: $color-red;
background-color:$color-pink ;
  } 
}