@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

.backdrop{
    position: fixed;
    z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
}

.content{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 200px;
        // max-width: 400px;
        width: 80%;
      background-color:$color-pink ;
        padding: 12px;
       
        border-radius: 15px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                @include media-tablet {
width: 400px;
                }
}

.form{
    display: flex;
      
        flex-direction: column;
}
.input{
    // width: 200px;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
        padding: 5px;
}

.label{
        margin-bottom: 10px;
        // width: 300px;
        display: flex;
        color: $color-red;
        @include font-noto-light-medium;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
}

.button{
    background-color:$color-red;
    border: none;
    color:$color-white;
    @include font-noto-light-medium;
    border-radius: 10px;
    margin-bottom: 15px;
}