$color-pink: #f6ececf9;
$color-main-text: #000000;
$color-red: #ff6596;
$color-white: #ffffff;
$color-red-hover:#760707;
$color-red: #910f0f;
$color-grey-bg: #e7eaf2;
$background-footer: #9e9e9e;
$color-pinks: #faddeaf9;
