@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';
@import '../../assets/styles/media';

.background{
    background-color: $color-grey-bg;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.link{
    color: $color-red;
    &:hover{
    color: $color-red;
    font-weight: 700;
    }
}
.icon{
    width: 30px;
    height: 30px;
}
.contact_link{
    color: $color-red;
    &:hover {
            color: $color-red;
            font-weight: 700;
        }
}

.contacts_list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts_item{
    margin-bottom: 10px;
}
.div{
    @include media-tablet {
            font-size: 20px;
        display: flex;
    justify-content: space-around;
    align-items: center;
        }
            
    

}


.work_item{
    color:$color-red;
}
.text{
    color:$color-red ;
    @include font-noto-light-medium;
font-size: 24px;
text-align: center;
}
.work_time_list{
    text-align: center;
}